.box{
    list-style: none;
    float: left;
    width: calc(100% / 3);
    padding: 0 15px;
    margin: 15px 0;
    box-sizing: border-box;
}
.box .item{
    box-shadow: 0 0 5px gray;
    float: left;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}
.box img{
    aspect-ratio: 16 / 9;
}