*{
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
}
#body{
    text-align: center;
    margin: 50px 0;
}
#body div{
    margin: 10px;
}
#twitter{
    padding: 5px 10px;
    display: inline-flex;
    text-decoration: none;
    color: black;
    border-radius: 4px;
}
#facebook{
    padding: 5px 10px;
    display: inline-flex;
    text-decoration: none;
    color: black;
    border-radius: 4px;
}
#twitter-back a{
    background-color: aqua;
}
#facebook-back a{
    background-color: blue;
}
#submit button .hover{
    cursor: pointer;
}