#bd #bx #ph{
    color: blueviolet;
}
body .box #ph{
    color: white;
}
#ph{
    color: orangered;
}
body .box .grah{
    color: lime;
}
.box > .grah{
    color: darkred;
}
.box .grah{
    color: blue;
}
.grah{
    color: pink;
}
p{
    color: black !important;
}
p{
    color: green;
}
